.container{
    padding: 20px;
    
}
.icon{
    margin-right: 20px;
}

.cardGrid{
    padding: 20px 0;
}

.card{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cardMedia{
    padding: 40%;
}

.cardContent{
    flex-grow: 1;
}
